#gearbox-container{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    border: 5px solid black;
    overflow: hidden;
    @include flexCenter();
    @include media-sm{
        width: 90vw;
        height: 40vh;
    }
}

#gearbox{
    width: 100%;
    height: 100%;
    background-color: $secondaryColor;
}